
p{
    color:brown;
    text-align: center;
    line-height: 30px;
}
h1{
    color:red;
    text-align: center;
}
h3{
    text-align: center;
    color: black;
}
a{
    color:rgb(0,255,0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #000000;
}
span{
    text-decoration: underline;
}