h1{

    color: #ffa511;
    text-align: center;
    font-family:League Spartan; 
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-decoration: aqua double underline;
    text-transform: uppercase;

}